.About_us{
    padding: 15px;
}
.About_us h1 {
    font-size: 35px;
    font-family: 'Open Sans', sans-serif;
    font-weight:600;
    color: #613818;
    padding: 20px;
    text-align: center;  
}

.About_us h2 {
    font-size: 25px;
    font-family: 'Open Sans', sans-serif;
    font-weight:600;
    color: #613818;
    padding: 15px;
    padding-left: 0px;
    text-align: center; 
}

.About_us p {
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    font-weight:300;
    color: #613818;
    padding: 5px;
    padding-left: 0px;
    text-align: center;
}

